.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(212, 45%, 89%);
}

#mainSquare {
    background-color: white;
    margin: 5px 20px;
    width: 10%;
    height: 70%;
    border-radius: 20px;
}