.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: auto; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

html, body, main {
    height: 100%;
}

body {
    background-color: hsl(212, 45%, 89%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainSquare {
    background-color: white;
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 10px 90px 5px hsl(212, 45%, 89%);
}

#qrCode {
    width: 90%;
    height: auto;
    margin: 5%;
    border-radius: 10px;
}

#mainSquare h1 {
    text-align: center;
    font-family: Outfit, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin: 0 20px;
}

#mainSquare p {
    text-align: center;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    margin: 0 20px;
}